* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
}

/*top page*/
.top {
    height: 2px;
    background-color: rgb(0, 234, 255) !important;
}

/*navbar*/
.navbar {
    direction: ltr !important;
}

.navbar:hover {
    color: rgb(0, 234, 255) !important;
}

.navbar img {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid rgb(0, 234, 255);
    top: 0px;
    left: 20px;
}

.navbar h2 {
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: 20px;
    color: rgb(0, 234, 255);
}

#navbar {
    direction: rtl !important;
}

#navbar :hover {
    color: rgb(0, 234, 255) !important;
}



/*main project*/
.main {
    align-items: center;
    width: 100%;
    height: 300px;
    background-image: url(./image-projects/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    background-color: rgba(0, 234, 255, 0.534);
}

/*language*/
.lang {
    text-align: center;
    box-shadow: 0px 3px 6px rgba(103, 103, 103, 0.417);
    opacity: 1;

}

.lang img {
    height: 70px;
}

/*about*/
.about {
    height: 300px;
    background-color: #fff;
    text-align: center;
}

.about img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.about h2 {
    font-size: 24px;
}

.about p {
    text-align: center;
}

.cv {
    background-color: #000;
}

.cv a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(0, 234, 255);
}

.cv a:hover {
    color: white;
}

.cv img {
    height: 20px;
    width: 20px;
    border: 1px solid rgb(0, 234, 255);
    margin: 5px;
}


/*cards projects*/
.main-projects {
    text-align: center;
}

.card {
    box-shadow: 10px 10px 10px 10px rgba(103, 103, 103, 0.788);
    border: 1px solid rgb(0, 234, 255) !important;
    text-align: center;
    height: 400px !important;
    margin-top: 50px !important;
}

.row {
    max-width: 80vw !important;
    margin-top: 50px !important;
    margin: auto !important;
}

.image-project {
    text-align: center;
}

.lang-projects img {
    height: 20px;
}

.btn-projects {
    background-color: rgb(0, 234, 255) !important;
    border: 2px solid #fff !important;
    border-radius: 200px !important;
    font-size: 15px !important;
    color: #000 !important;
    transition-duration: 0.2s !important;
}

.btn-projects:hover {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid rgb(0, 234, 255) !important;
}

.btn a {
    text-decoration: none;
    color: #000;
}

/*contact*/
.contact {
    background-color: #000000aa;
    color: #fff;
}

.btn-contact {
    width: 100px;
    border-radius: 200px !important;
    font-size: 15px !important;
    color: #000 !important;
    transition-duration: 0.2s !important;
    background-color: rgb(0, 234, 255) !important;
}

/*social icons*/
.social {
    display: flex;
    justify-content: right;
    align-items: center;
}

.social img {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    transition: .8s;
}

.social img:hover {
    transform: scale(1.2);
}

.social h3 {
    font-size: 20px;
}


.whatsapp {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: rgb(0, 255, 0);
    border-radius: 100%;
    text-align: center;
    background-image: url(../image-project-html-css/Icon\ whatsapp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.a-whatsapp {
    color: black;
    text-decoration: none;
}

.a-whatsapp:hover {
    color: #333;
    text-decoration: none;
}

/*social logo*/
.logo-contact {
    background-color: rgb(0, 234, 255);
    color: #000;
    text-align: center;
}

.logo-contact img {
    padding: 30px;
}

/*end page*/
.end-page {
    text-align: center;
    background-color: #000;
    color: rgb(0, 234, 255);
}

.end-page h2 {
    font-size: 14px;
    text-align: end;
}

.end-page h3 {
    font-size: 14px;
    text-align: start;
}

.end-page h4 {
    font-size: small;
    text-align: center;
}

.end-page a {
    color: rgb(0, 234, 255);
    text-decoration: none;
}

/*bottom page*/
.bottom {
    height: 2px;
    background-color: rgb(0, 234, 255) !important;
}

/*גרסת מובייל*/
@media (max-width: 768px) {
    .navbar img {
        width: 50px;
        height: 50px;
        top: 5px;
        left: 10px;
    }

    .navbar h2 {
        font-size: 16px;
        left: 70px;
    }

    .main {
        height: 300px;
    }

    .about {
        height: 250px;
    }

    .card {
        height: 300px;
        margin-top: 30px;
    }

    .btn-projects {
        width: 200px;
        font-size: 14px;
    }

    .btn-contact {
        width: 80px;
        font-size: 14px;
    }

    .social img {
        width: 25px;
        height: 25px;
    }

    .end-page h2,
    .end-page h3,
    .end-page h4 {
        font-size: 12px;
    }
}


/*גרסת טאבלט*/
@media (max-width: 1200px) {
    .navbar img {
        width: 60px;
        height: 60px;
    }

    .navbar h2 {
        font-size: 18px;
        left: 80px;
    }

    .about {
        height: auto;
        padding: 20px;
    }

    .card {
        height: auto;
    }

    .btn-projects {
        font-size: 14px;
    }

    .end-page h2,
    .end-page h3,
    .end-page h4 {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .navbar img {
        width: 50px;
        height: 50px;
    }

    .navbar h2 {
        font-size: 16px;
        left: 60px;
    }

    .about h2 {
        font-size: 22px;
    }

    .about p {
        font-size: 16px;
    }

    .btn-contact {
        width: 80px;
    }

    .end-page h2,
    .end-page h3,
    .end-page h4 {
        font-size: 10px;
    }
}